* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #330000;
  background-image: url(../public/assets/bg-body.jpg);
  background-attachment: fixed;
  background-size: cover;
}

